trunk/XQTestFramework/testdata/TestSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.example.org/test" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/test">

    <complexType name="TestType">
    	<sequence>
    		<element name="elemA" type="string"></element>
    		<element name="elemB" type="string"></element>
    	</sequence>
    	<attribute name="attrA" type="string"></attribute>
    </complexType>

    <element name="Test" type="tns:TestType"></element>
</schema>