XQTestFramework/testdata/TestSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.example.org/test2" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/test2">

    <complexType name="Test2Type">
    	<sequence>
    		<element name="elem" type="string"></element>
    	</sequence>
    	<attribute name="attr" type="string"></attribute>
    </complexType>
    
    <element name="Test2" type="tns:Test2Type"></element>
</schema>